* * * * * cd /home/gemini/gemini/SEEK/ && git pull
* * * * * cd /home/gemini/gemini/cronomaestro/ && git pull
* * * * * cd /home/gemini/gemini/koyu/ && git pull
* * * * * cd /home/gemini/gemini/pukima/ && git pull
* * * * * cd /home/gemini/gemini/the_kitten/ && git pull
* * * * * cd /home/gemini/gemini/zuz/ && git pull
* * * * * cd /home/gemini/gemini/nonsensor/ && git pull
* * * * * cd /home/gemni/gemini/vydyck/ && git pull
* * * * * cd /home/gemini/gemini/mrael2_obsv/ && git pull
* * * * * cd /home/gemini/gemini/octt/ && git pull
* * * * * cd /home/gemini/gemini/youshitsune/ && git pull
* * * * * cd /home/gemini/gemini/yuiui/ && git pull
* * * * * cd /home/gemini/gemini/aartaka/ && git pull
